<div class="container-fluid cont" style="margin:0px; width:100%">
  <div class="row">
    
    <div class="d-xs-block d-sm-block d-md-none d-xs-none">
      <nav class="navbar navbar-expand-lg  cont">
        <div class="col-6">
          <div class="wrapper">
            <button nz-button nzType="primary" (click)="toggleCollapsed()">
              <i class="fa fa-bars" [ngClass]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
            </button>
            
          </div>
        </div>
        <div class="col-6">
          <a class="navbar-brand-xs" [routerLink]="['/home']">
            <img class="brand-xs" src="../../assets/images/logo-png-cropped.png" alt="">
          </a>
        </div>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{'show':navbarOpen}" >
          
        </div>
      </nav>
    </div>
  </div>


<!-- HEADER FOR MEDIUM DEVICES -->
  <div class="row" style="margin-bottom: 100px;">
    <div class="d-none d-md-block d-lg-block d-sm-none col-12">
      <nav class="navbar fixed-top navbar-expand-lg "style="margin-bottom: 100px;">
        <a class="navbar-brand" [routerLink]="['/home']">
          <img src="../../assets/images/logo-png-cropped.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{'show':navbarOpen}" >
          <ul class="navbar-nav">
            <li class="nav-item " >
              <a class="nav-link"  [routerLink]="['/home']" (click)="activate('home')" [ngClass]="isHomeactive ? 'active' : 'not-active'" >Home </a>
            </li>
            <li class="nav-item ">
              <a nz-dropdown [nzDropdownMenu]="menu" class="nav-link" [routerLink]="['/services']" (click)="activate('services')" [ngClass]="isServicesActive ? 'active' : 'not-active'">Services <i class="fa fa-angle-down" aria-hidden="true"></i></a>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item>Software Development</li>
                  <li nz-menu-divider></li>
                  <li nz-menu-item>Project Consulting</li>
                  <li nz-menu-divider></li>
                  <li nz-menu-item>Corporate Training</li>
                  <li nz-menu-divider></li>
                  <li nz-menu-item>Technologies</li>
                  <li nz-menu-divider></li>
                  <li nz-menu-item>Internship</li>
                  <li nz-menu-divider></li>
                  <li nz-menu-item>Corporate Workshop</li>
                  
                   
                  <!-- <li nz-menu-item nzDisabled>3rd menu item（disabled）</li> --> 
                </ul>
              </nz-dropdown-menu>
            </li>
            <li class="nav-item ">
              <a class="nav-link  " [routerLink]="['/contact']" (click)="activate('contactUs')" [ngClass]="isContactUsActive ? 'active' : 'not-active'">Contact Us</a>
            </li>
      
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/about']" (click)="activate('aboutUs')" [ngClass]="isAboutUsActive ? 'active' : 'not-active'">About Us</a>
            </li>
          </ul>
        </div>
      </nav> 
    </div>
    
  </div>

  <div class="row">
    <ul *ngIf="!isCollapsed" nz-menu nzMode="inline" nzTheme="light" [nzInlineCollapsed]="isCollapsed">
      <!-- <li nz-menu-item nz-tooltip nzPlacement="right" [nzTitle]="isCollapsed ? 'Navigation One' : ''" nzSelected>
        <i nz-icon nzType="mail"></i>
        <span>Navigation One</span>
      </li> -->
      <li nz-submenu nzTitle="Explore" nzIcon="appstore">
        <ul>
          <li hred nz-menu-item [routerLink]="['/home']">Home</li>
         
          <li nz-submenu nzTitle="Services">
            <ul>
              <li nz-menu-item>Corporate Training</li>
              <li nz-menu-item>Corporate Workshop</li>
              <li nz-menu-item>Software Development</li>
              <li nz-menu-item>Internship</li>
              <li nz-menu-item>Project Consulting</li>
            </ul>
            
          </li>
          <li hred nz-menu-item [routerLink]="['/contact']">Contact Us</li>
          <li hred nz-menu-item [routerLink]="['/about']">About Us</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Navigation Three" nzIcon="setting">
        <ul>
          <li nz-menu-item>Option 9</li>
          <li nz-menu-item>Option 10</li>
          <li nz-menu-item>Option 11</li>
        </ul>
      </li>
    </ul>
  </div>
  
</div>