
<!-- Footer For Medium devices -->
 <div class="footer bg-1 d-none d-md-block">
    <div class="footer-content footer-distributed">
        <div class="container">
            <div class="row">
                 <div class="col-md-4 col-sm-12">
                    <div class="footer-section about">
                        <h1 class="logo-text">
                            <span>Link</span>Code
                        </h1>
                        <p>
                            Our corporate training environment helps employees to develop professionally.
            We believe in creating a workplace where efficient learning and innovative development
            is our prime focus. We at Linkcode , help in inculcating in our employees the trends of
            the corporate world . We mould our employees in a manner that they are habituated to
            a company's value and culture.
                        </p>
                        <div class="contact">
                            <span>
                                <i class="fas fa-phone-volume"></i> &nbsp; +919604430489 &nbsp;
                            </span>
                            <span >
                                <i class="fas fa-envelope-open-text"></i> &nbsp; inq@linkcode.com
                            </span>
                        </div>
                        <div class="socials">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <!-- <a href="#"><i class="fab fa-twitter"></i></a> -->
                            <!-- <a href="#"><i class="fab fa-github"></i></a> -->
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <!-- <a href="#"><i class="fab fa-youtube"></i></a> -->
            
                        </div>
                        <p class="footer-company-name">&copy; 2020 Linkcode Pvt. Ltd. All Rights Reserved</p>
            
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="footer-section links " style="text-align: center;">
                        <h2 style="margin-left: 0px;">
                            What We Do
                        </h2>
                        <br>
            
                        <ul style="list-style-type:none; text-align: left; margin-left: 60px;">
                            <a class href=""><li>Digital Solutions</li></a>
                            <a class href=""><li>Software Product Engineering</li></a>
                            <a class href=""><li>It Services</li></a>
                            <a class href=""><li>Corporate Traning</li></a>
                            <a class href=""><li>Automation</li></a>
                            
            
                        </ul>
            
                    </div>
                </div>
    
                  <div class="col-md-4 col-sm-12">
                    <div class="footer-section contact-form " style="text-align: center;">
                        <h2 style="text-align: center;">
                            TECHNOLOGIES
                        </h2>
                        <br>
            
                        <ul style="list-style-type:none; text-align: left; margin-left: 60px;">
                            <a class href=""><li>AI & Machine Learning</li></a>
                            <a class href=""><li>Data Science</li></a>
                            <a class href=""><li>Cloud Services</li></a>
                            <a class href=""><li>Web Technologies Training</li></a>
                            <a class href=""><li>IOT</li></a>
                        </ul>
                        <div style="text-align: left;">
                            <br>
                            <br>
                            <br>
                            <button class= "btn btn-success btn-big contact-btn" style="text-align: center;" [routerLink]="['/contact']">
                                <i class="fas fa-envelope-open-text"></i>
                                Contact US</button>
                        </div>
                 
                    </div>
                </div>
    
            </div>
        </div>            
    </div>  
</div>

<!-- Footer for Small Devices (Mobile Devices) -->

<div class="footer d-md-none bg-small d-sm-block">
    <div class="footer-content footer-distributed">
        <div class="container">
            <div class="row">
                 <div class="col-md-4 col-sm-12">
                    <div class="footer-section about">
                        <h1 class="logo-text">
                            <span>Link</span>Code
                        </h1>
                        <p>
                            Our corporate training environment helps employees to develop professionally.
            We believe in creating a workplace where efficient learning and innovative development
            is our prime focus. We at Linkcode , help in inculcating in our employees the trends of
            the corporate world . We mould our employees in a manner that they are habituated to
            a company's value and culture.
                        </p>
                        <div class="contact">
                            <span>
                                <i class="fas fa-phone-volume"></i> &nbsp; +919604430489 &nbsp;
                            </span>
                            <span >
                                <i class="fas fa-envelope-open-text"></i> &nbsp; inq@linkcode.com
                            </span>
                        </div>
                        <div class="socials">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <!-- <a href="#"><i class="fab fa-twitter"></i></a> -->
                            <a href="#"><i class="fab fa-github"></i></a>
                            <!-- <a href="#"><i class="fab fa-linkedin"></i></a> -->
                            <!-- <a href="#"><i class="fab fa-youtube"></i></a> -->
            
                        </div>
                        <p class="footer-company-name">&copy; 2020 Linkcode Pvt. Ltd. All Rights Reserved</p>
            
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="footer-section links " style="text-align: center;">
                        <h2 style="margin-left: 0px;">
                            What We Do
                        </h2>
                        <br>
            
                        <ul style="list-style-type:none; text-align: left;">
                            <a class href=""><li>Digital Solutions</li></a>
                            <a class href=""><li>Software Product Engineering</li></a>
                            <a class href=""><li>It Services</li></a>
                            <a class href=""><li>Corporate Traning</li></a>
                            <a class href=""><li>Automation</li></a>
                            
            
                        </ul>
            
                    </div>
                </div>
    
                  <div class="col-md-4 col-sm-12">
                    <div class="footer-section contact-form " style="text-align: center;">
                        <h2 style="text-align: center;">
                            TECHNOLOGIES
                        </h2>
                        <br>
            
                        <ul style="list-style-type:none; text-align: left;">
                            <a class href=""><li>AI & Machine Learning</li></a>
                            <a class href=""><li>Data Science</li></a>
                            <a class href=""><li>Cloud Services</li></a>
                            <a class href=""><li>Web Technologies Training</li></a>
                            <a class href=""><li>IOT</li></a>
                        </ul>
                    
                            <button class= "btn-success btn" [routerLink]="['/contact']">
                                <i class="fas fa-envelope-open-text"></i>
                                Contact US</button>
                    
                    </div>
                </div>
    
            </div>
        </div>            
    </div>  
</div>
