

<!-- <div
  class="back1"
  style="background-image: url('../../assets/images/Group_2.svg'); margin: auto; background-size: 100%;"
>
  <br /><br /><br /><br /><br /><br /><br />
  <div class="box">
    <h2>Project Consultation</h2>
    <h4>
      <b
        ><p>
          Project Consultation is another service which we provide.
          <br />
          We firmly believe Knowledge, Skills and Experience are the basic
          building blocks for successful management of a project.We've imbibed
          in our developers all three of them.
          <br />
          At every stage of the project life cycle, the principles of
          pro-activeness and creating a win-win situation are necessary keeping
          in mind the customer/client’s requirements.
          <br />
        </p>
      </b>
    </h4>
  </div>
  <div class="box1">
    <h2>solutions customized</h2>
    <h4>
      <p>
        <b>
          We have built different solutions customized as per your
          requirments.At Linkcode, we serve you with full fledged software
          consulting and development solutions.We help you
          plan,design,integrate,build and augment the best IT products efficient
          to achieve your objective.
        </b>
      </p>
    </h4>
  </div>
  <div class="box3">
    <h2>unique business</h2>
    <h4>
      <p>
        <b>
          Our consultants focus on the facility providing distinctive
          operational competency to the unique business needs reading them
          through business strategy, changes in IT landscape, current pin-points
          etc. We have helped various solutions to be implemented in the right
          manner while helping our clients get complete assurance of the right
          empanelment and characterization of the process that holds the
          solution.
        </b>
      </p>
    </h4>
  </div>
</div>
<div class="back2" style="background-image: url('../../assets/images/3411109.jpg'); margin: auto; background-size: 50%;"></div>
<br><br><br>
 -->
<!-- ================================================== -->

 <!-- This is for banner -->


<div class="container-fluid  d-md-block bg-1">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6 col-6">
        <span class="header-text" >
          
          <h2>
            <span style="color: #ffffff;">Services at </span>
            <span style="color: red;">Link</span>
            <span style="color: #000000;">Code</span>
          </h2>

          <h4 style="color: #ffffff;">
            PROJECT CONSULTATION</h4>
        </span>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6 col-6">
      </div>
    </div>
  </div>
</div>

<!-- This is end for banner -->
<hr>

<!-- row 1 -->
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img class="image-cropped" src="../../../assets/services-images/project-consultation.svg" alt="">
    </div>
    <div class="col-md-6 column-1">
      <div class="cont">
        <h3 style="text-align: center;">PROJECT CONSULTATION</h3>
        <h6 style="text-align: center;">
          Project Consultation is another service which we provide.
          <br />
          We firmly believe Knowledge, Skills and Experience are the basic
          building blocks for successful management of a project.We've imbibed
          in our developers all three of them.
          <br />
          At every stage of the project life cycle, the principles of
          pro-activeness and creating a win-win situation are necessary keeping
          in mind the customer/client’s requirements.
          <br />
        </h6>
      </div>
    </div>
  </div>
  <br>
  <br>
  <hr>
  <br>
<br>
<!-- row 2 -->
  <div class="row">
    <div class="col-md-6">
      <img class="image-cropped" src="../../../assets/services-images/solution-customized.svg" alt="">
    </div>
    <div class="col-md-6 column-1">
      <div class="cont">
        <h3 style="text-align: center;">SOLUTIONS CUSTOMIZED</h3>

        <h6  style="text-align: center;">
          We have built different solutions customized as per your
          requirments.At Linkcode, we serve you with full fledged software
          consulting and development solutions.We help you
          plan,design,integrate,build and augment the best IT products efficient
          to achieve your objective.
          <br />
        </h6>
      </div>
    </div>
  </div>
  <br>
  <br>
  <hr>
  <br>
<br>
    <!-- row three -->

  <div class="row">
    <div class="col-md-6">
      <img class="image-cropped" src="../../../assets/services-images/unique-bussiness.svg" alt="">
    </div>
    <div class="col-md-6 column-1">
      <div class="cont">
        <h3 style="text-align: center;">UNIQUE BUSINESS</h3>

        <h6  style="text-align: center;">
          Our consultants focus on the facility providing distinctive
          operational competency to the unique business needs reading them
          through business strategy, changes in IT landscape, current pin-points
          etc. We have helped various solutions to be implemented in the right
          manner while helping our clients get complete assurance of the right
          empanelment and characterization of the process that holds the
          solution.
          <br />
        </h6>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<hr>
<br>
<br>