/* body{
  margin: 0;
  padding: 0;
}

.box{
  position: relative;
  padding: 1px;
  background: white;
  width: 660%;
  margin: auto;
  margin-top: 30%;
  margin-left: -2%;
}
.box1{
  position: relative;
  padding: 20px;
  background: white;
  width: 560%;
  margin: auto;
  margin-top: 45%;
  margin-left: 120px;
}
.box3{

  position: relative;
  padding: 20px;
  background: white;
  width: 560%;
  margin: auto;
  margin-top: 80%;
  margin-left: 5%;
}

.box3:hover{
  background-color:rgb(92, 153, 233);
  border-radius: 25px;
  color:white;
}

.box1:hover{
  background-color:rgb(92, 153, 233);
  border-radius: 25px;
  color:white;
}

.box:hover{
  background-color:rgb(92, 153, 233);
  border-radius: 25px;
  color:white;
}

.back1 {
  padding: 0 100px;
  top: -5%;
  height: 250vh;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  height: 1000px;
}

.back2 {
  padding:10px;
  display: flex;
  background-repeat: no-repeat;
  height: 400px;
  padding-bottom: 0px;
}

h2{
  text-align: center;
  padding: 0;
  font-size: 30px;
  text-transform: uppercase;
  color: #130c52;
}

h4:hover{
  color: rgb(235, 250, 248);
} */


/* =========================================================== */



/* Banner starts */
.bg-1{
  margin-top: 0px;
  position: relative;
  background-position: top;
  background-image: url(../../../assets/images/services-banner.png); 
  background-position:top,center;
  height: 800px;
  display: block;
  
  margin-left: auto;
  margin-right: auto;
  
  background-repeat: no-repeat;
}
.bg-1 h2,h4{
  
  color: white;
 
}

.header-text{
  color: white;
  left: -0px;
  position: absolute;
  top: 20px;
  
}



/* Banner End */


.image-cropped{
  max-width: 100%;
  max-height: 100%;
  display: block;
}


.column-1 :hover
{ background-color:rgb(92, 153, 233);
  border-radius: 25px;
  color:white;
}
.cont h6 {
  padding: 30px;
}

.cont h3 {
  padding: 30px;
}

