.background{
  background-color: rgb(139, 138, 138);
  /* margin-left: 227px;
  /* height: 871px; */
  width: 526px;
  border-radius: 10px;
  margin: auto;
  margin-top: 30px;
}

input{
  background: whitesmoke;
}

.back1 {
  background-repeat: no-repeat;
  height: 1000px;
}

.contact{
  color: white;
  text-align: center;
  font-family: cursive;
  font-size: x-large;
  text-decoration-line: underline;
  text-decoration-style: double;
}

.form-group{
  margin-bottom: 2rem;
}

label{
  font-family: cursive;
  color: white;
  font-size: larger;
}

button
{
  background-color: rgb(245, 16, 48);
    font-family: cursive;
    font-size: x-large;
    width: 180px;
    margin: auto;
}
