.background{

  background-color: inherit;
   /* margin-left: 210px; */
  /* height: 871px; */
  /* width: 1000px; */
  border-radius: 10px;
  border: 2px solid;
  border-color:  rgb(139, 138, 138);
  /* margin: auto; */
  box-shadow:  2px 2px 2px rgba(139, 138, 138, 0.801);
  /* align-self: center; */
  margin-top: 30px;
  /* margin-left: 30px; */
}

.right-side{
  margin: 0px;
}
.left-side{
  margin: 0px;
}

.fname
{
  width: 60%;
  height: 25px;
  border: 1px solid rgba(241, 15, 63, 0.45);
  border-radius: 4px;
  padding-left: 5px;
  padding-bottom: 1px;
  margin-top: 1px;
  background-color: rgba(241, 115, 128, 0.2 );
  color: rgb(255, 15, 63);
}

input{
  background: whitesmoke;
  width: 90%;
}

.back1 {
  background-repeat: no-repeat;
  height: 1000px;
}

.contact{
  color: rgb(23, 23, 112);
  text-align: center;
  /* font-family: cursive; */
  font-size: x-large;
  /* text-decoration-line: underline;
  text-decoration-style: double; */
}

.form-group{
  margin-bottom: 2rem;
  /* border: 1px solid black; */
  margin-top: 20px;
}

label{
  /* font-family: cursive; */
  color: rgb(25, 25, 80);
  font-size: larger;
}

button
{
  background-color: rgb(245, 16, 48);
    /* font-family: cursive; */
    font-size: x-large;
    text-align: center;
    /* width: 180px; */
    height: 60px;
    width: 90%;
    /* margin: auto; */
}

textarea
{
  width: 90%;
  height: 200px;
}
