
<!--About Us Banner Start-->
<div class= "container-fluid d-md-block bg-1" >
  <div class="row">
     <div class="col-md-6 col-s-6 col-xs-6">

    </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <span class="header-text">
            <h1>
                <span style="color:#a1e6e3;">ABOUT US</span>
            </h1>
                <br>
            <!-- <h5>
                Meet the Amazing Team Behind our
            </h5>
            <h5>
              Software Development Company and
            </h5>
            <h5>
              find out more about How We Work.
            </h5> -->
            <!-- <a class="gradient-button gradient-button-1">Read More</a><br /> -->
        </span>
       

      </div>
  </div>
</div>
<!--About Us Banner Ends-->

<div class="container" >

  <!--<div class="row">
    <div class="col-xs-12 col-md-12 col-sm-12 col-xl-12 title">
      <h1 > About Us

        </h1>
    </div>
  </div>-->
  <div class="row">
    <br>
    <div class="col-xs-6 col-md-6 col-sm-12">
      <img class="svg-images" src="../../assets/images/what-we-do.svg" alt="">
    </div>
    <div class="col-xs-6 col-md-6 col-sm-12 column-1">
      <div class="cont">
        <h3 style="text-align:center">  
          What we do ?
        </h3>
        <p style="text-align:center">
          At Linkcode we combine innovative ideas with deep understanding of the client's requirements
        and profound industrial knowledge . We're innovators , designers , developers , analysts
        and strategists who deliver tomorrow's technical solutions today.
        We serve our client's with optimal software solutions and also developers get an
        opportunity to work on innovative projects . We focus on the trending processes and
        excellent delivery of technical solutions.

        </p>
      </div>
    </div>
  </div>
  <br>
  <hr>
  <br>
  <div class="row">
    <br>
    <div class="col-xs-6 col-md-6 col-sm-12">
      <img class="svg-images" src="../../assets/images/corporate-training.svg" alt="">
    </div>
    <div class="col-xs-6 col-md-6 col-sm-12 column-2">
      <div class="cont">
        <h3 style="text-align:center">How we do it?</h3>
        <p style="text-align:center">
          We develop and distribute computer software that maybe used to learn,instruct,assess,calculate,entertain or perform
        a multiple of other tasks.We use the latest technologies like AI , ML , IoT , Angular , React , Node  etc
        to cater the client's needs and  give ideal solutions.
        By intently understanding the client's requirements we create a plan after conducting a market research.
        We co-ordinate with our clients as we progress with our development and think of ways to make our product better than expected.
        We firmly believe in ethical coding standards and client satisfaction.

        </p>
      </div>

    </div>
  </div>
  <br>
  <hr>
  <br>
  <div class="row">
    <br>
    <div class="col-xs-6 col-md-6 col-sm-12">
      <img class="svg-images" src="../../assets/images/internships.svg" alt="">
    </div>
    <div class="col-xs-6 col-md-6 col-sm-12 column-2">
      <div class="cont">
        <h3 style="text-align:center">Why we do it? </h3>
        <p style="text-align:center">
          Software Development is one of the crucial parts of Business Organizations.Software Development takes your business higher than ever of integration.
        It enables your organization to be accessible from anywhere and anytime via smartphones and laptops.It improves sales and services.The manner in
        which your clients experience your business is what matters.And to serve this purpose we're here for you!
        </p>
      </div>

    </div>
  </div>
</div>
