<div class="container">
    <div class="row">
        <div class="card">

            <div class="face face_1">

                <div class="content">

                    <img src="Images/Lorem Ipsum.gif">
                    <h3>NAME</h3>

                </div>

            </div>

            <div class="face face_2">

                <div class="content">


                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua.
                    </p>

                    <a href="#">READ MORE ...</a>

                </div>

            </div>
        </div>

        <div class="card">

            <div class="face face_1">

                <div class="content">

                    <img src="Images/Lorem Ipsum.gif">
                    <h3>NAME</h3>

                </div>

            </div>

            <div class="face face_2">

                <div class="content">


                    <br>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua.
                    </p>

                    <a href="#">READ MORE ...</a>

                </div>

            </div>
        </div>

        <div class="card">

            <div class="face face_1">

                <div class="content">

                    <img src="Images/Lorem Ipsum.gif">
                    <h3>NAME</h3>


                </div>

            </div>

            <div class="face face_2">

                <div class="content">



                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua.
                    </p>

                    <a href="#">READ MORE ...</a>

                </div>

            </div>
        </div>

    </div>

</div>


<!-- <nz-carousel nzAutoPlay>
    
    <div nz-carousel-content >
       <div class="container-fluid">
           <div class="col-md-12">
               This is Div
           </div>
       </div>
      </div>
      <div nz-carousel-content >
        <h3>My</h3>
      </div>
      <div nz-carousel-content >
        <h3>Name</h3>
      </div>
      <div nz-carousel-content >
        <h3>is</h3>
      </div>
  </nz-carousel> -->