/* body{
  margin: 0;
  padding: 0px;
}

.box{
  position: relative;
  padding: 1px;
  background: white;
  width: 600%;
  margin: auto;
  margin-top: 30%;
  margin-left: -2%;
}
.box1{
  position: relative;
  padding: 10px;
  background: white;
  width: 560%;
  margin: auto;
  margin-top: 50%;
  margin-left: 100px;
}
.box3{

  position: relative;
  padding: 10px;
  background: white;
  width: 560%;
  margin: auto;
  margin-top: 75%;
  margin-left: 5%;
  padding-bottom: 20px;
}

.back1 {
  padding: 0 100px;
  top: -5%;
  height: 250vh;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  height: 1000px;
}
.back2 {
  padding: 0 100px;
  top: 25%;
  height: 200vh;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  height: 300px;
  background-origin: initial;
  padding-bottom: 0px;
}

.box3:hover{
  background-color:rgb(92, 153, 233);
  border-radius: 25px;
  color:white;
}

.box1:hover{
  background-color:rgb(92, 153, 233);
  border-radius: 25px;
  color:white;
}

.box:hover{
  background-color:rgb(92, 153, 233);
  border-radius: 25px;
  color:white;
}


h2{
  text-align: center;
  padding: 0;
  font-size: 30px;
  text-transform: uppercase;
  color: #130c52;
}

h5:hover{
  color:rgb(230, 247, 245);
}

h5 p {
  position: relative;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */



/* Banner starts */
.bg-1{
  margin-top: 0px;
  position: relative;
  background-position: top;
  background-image: url(../../../assets/images/services-banner.png); 
  background-position:top,center;
  height: 800px;
  display: block;
  
  margin-left: auto;
  margin-right: auto;
  
  background-repeat: no-repeat;
}
.bg-1 h2,h4{
  
  color: white;
 
}

.header-text{
  color: white;
  left: -0px;
  position: absolute;
  top: 20px;
  
}



/* Banner End */


.image-cropped{
  max-width: 100%;
  max-height: 100%;
  display: block;
}


.column-1 :hover
{ background-color:rgb(92, 153, 233);
  border-radius: 25px;
  color:white;
}
.cont h6 {
  padding: 30px;
}

.cont h3 {
  padding: 30px;
}

