<div class="back1" style="background-image: url('../../assets/images/corp_train.jpg'); margin: auto; background-size: cover;"></div>

<table>
  <br>
    <tr>
    <td>
      <div class="back1" style="background-image: url('../../assets/images/corp_tran.png'); margin: auto; background-size: cover;"></div>

    </td>
    <td>
      <div class="row">
      <h3 style="text-align:center">Corporate Training </h3>
      <p style="text-align:center">
        Our corporate training environment helps employees to develop professionally.
      We believe in creating a workplace where efficient learning and innovative development
      is our prime focus. We at Linkcode , help in inculcating in our employees the trends of
      the corporate world . We mould our employees in a manner that they are habituated to
      a company's value and culture.

      </p>
    </div>
    </td>

  </tr>
</table>
