<!-- <div
  class="back1"
  style="background-image: url('../../assets/images/Group_2.svg'); margin: auto; background-size: 100%;"
>
  <div class="box">
    <h2>Corporate Training</h2>
    <h5>
      <p>
          Our corporate training environment not only helps employees to develop
          technically and analytically but also professionally and ethically.
          <br />
          We believe in creating a workplace where efficient learning and
          innovative development is encouraged .
          <br />
          We at Linkcode , help in inculcating in our employees the ethics and
          morals of the corporate world . We mould our employees in a manner
          that they are habituated to a company's values and culture.
          <br />
        </p>
    </h5>
  </div>
  <div class="box1">
    <h2>PRIME FOCUS</h2>
    <h5>
      <p>
          Our prime focus is to promote new working practices, and standards.
          Linkcode lays a strong groundwork and effective content to get the
          most of out of the training. In a rapidly challenging and constantly
          changing IT industry employees need to integrate learning at all
          stages and aspects of their career.We at Linkcode understand this need
          of the market and the fierce business competition of the organizations
          to grow and reach it's business objectives.
      </p>
    </h5>
  </div>
  <div class="box3">
    <h2>PERSONALIZED MODULES</h2>
    <h5>
      <p>
          WE personalize our training modules to meet the specific needs. Our
          training is delivered by highly qualified professional consultants who
          have extensive experience in a variety of domains. We empower the
          employees to use and develop creative solutions , we inculcate
          leadership management and personal development skills to enhance their
          performance and productivity. Our trainings are customized in a manner
          that they are not only centered on knowledge transfer but also in
          building a morale that utlimately benefits the employee.
      </p>
    </h5>
  </div>
</div>
<div
  class="back2"
  style="background-image: url('../../assets/images/corp_tran.png'); margin-top: auto; background-size: 50%;"></div>
<br /> -->



 <!-- This is for banner -->


 <div class="container-fluid  d-md-block bg-1">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6 col-6">
        <span class="header-text" >
          
          <h2>
            <span style="color: #ffffff;">Services at </span>
            <span style="color: red;">Link</span>
            <span style="color: #000000;">Code</span>
          </h2>

          <h4 style="color: #ffffff;">
            CORPORATE TRAINING</h4>
        </span>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6 col-6">
      </div>
    </div>
  </div>
</div>

<!-- This is end for banner -->
<hr>

<!-- row 1 -->
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img class="image-cropped" src="../../../assets/services-images/corporate-training.svg" alt="">
    </div>
    <div class="col-md-6 column-1">
      <div class="cont">
        <h3 style="text-align: center;">CORPORATE TRAINING</h3>
        <h6 style="text-align: center;">
          Our corporate training environment not only helps employees to develop
          technically and analytically but also professionally and ethically.
          <br />
          We believe in creating a workplace where efficient learning and
          innovative development is encouraged .
          <br />
          We at Linkcode , help in inculcating in our employees the ethics and
          morals of the corporate world . We mould our employees in a manner
          that they are habituated to a company's values and culture.
          <br />
        </h6>
      </div>
    </div>
  </div>
  <br>
  <br>
  <hr>
  <br>
<br>
<!-- row 2 -->
  <div class="row">
    <div class="col-md-6">
      <img class="image-cropped" src="../../../assets/services-images/dev-focus.svg" alt="">
    </div>
    <div class="col-md-6 column-1">
      <div class="cont">
        <h3 style="text-align: center;">PRIME FOCUS</h3>

        <h6  style="text-align: center;">
          Our prime focus is to promote new working practices, and standards.
          Linkcode lays a strong groundwork and effective content to get the
          most of out of the training. In a rapidly challenging and constantly
          changing IT industry employees need to integrate learning at all
          stages and aspects of their career.We at Linkcode understand this need
          of the market and the fierce business competition of the organizations
          to grow and reach it's business objectives.
          <br />
        </h6>
      </div>
    </div>
  </div>
  <br>
  <br>
  <hr>
  <br>
<br>
    <!-- row three -->

  <div class="row">
    <div class="col-md-6">
      <img class="image-cropped" src="../../../assets/services-images/personal_settings.svg" alt="">
    </div>
    <div class="col-md-6 column-1">
      <div class="cont">
        <h3 style="text-align: center;">PERSONALIZED MODULES</h3>

        <h6  style="text-align: center;">
          WE personalize our training modules to meet the specific needs. Our
          training is delivered by highly qualified professional consultants who
          have extensive experience in a variety of domains. We empower the
          employees to use and develop creative solutions , we inculcate
          leadership management and personal development skills to enhance their
          performance and productivity. Our trainings are customized in a manner
          that they are not only centered on knowledge transfer but also in
          building a morale that utlimately benefits the employee.
          <br />
        </h6>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<hr>
<br>
<br>