<table >
  <tr>
    <td>
      <h4 [routerLink]="['./software-development']" class="col"> software-development</h4>
    </td>
    <td >
      <h4 [routerLink]="['./project-consulting']" class="col">project-consulting</h4>
    </td>
    <td>
      <h4 [routerLink]="['./corporate-training']" class="col" >corporate-training</h4>
    </td>
    <td>
      <h4 [routerLink]="['./technology']" class="col"> Technologies</h4>
    </td>
    <td>
      <h4 [routerLink]="['./internship']" class="col">internship</h4>
    </td>
    <td>
      <h4 [routerLink]="['./corporate-workshop']" class="col"> corporate-workshop</h4>
    </td>



</tr>
</table>



<router-outlet></router-outlet>
