<div
  class="back1"
  style="background-image: url('../../../assets/images/Group_2.svg'); margin: auto; background-size: 100%;"
>
  <div class="box">
    <h2>Corporate Workshop</h2>
    <h4>
      <p>
          Linkcode corporate workshops not only provide technical knowledge ,
          but also, enable participants to understand concepts and acquire newer
          skills, thereby encouraging them to develop intellectually,
          technically and professionally.
          <br />
          These workshops are conducted by industry experts and domain
          consultants.
          <br />
        </p>
    </h4>
  </div>
  <div class="box1">
    <h2>VALUABLE ASSETS</h2>
    <h4>
      <p>
          Skilled developers, is the most valuable asset of any IT organization,
          because what drives success in any business is not a well oiled
          machinery, but a well functioning mind.
          <br />
      </p>
    </h4>
  </div>
  <div class="box3">
    <h2>WORKSHOPS HELD FOR</h2>
    <h4>
      <p>
          At Linkcode we conduct workshops targeting developers who have just
          started with thier careers as well as those who have worked for a few
          years .Linkcode Technologies tries to reduce the gap between the more
          demand and less supply of skilled developers , by providing the right
          skills and ethics to developers .
      </p>
    </h4>
  </div>
</div>
<div class="back2" style="background-image: url('../../assets/images/work_shop.svg'); margin: auto; background-size: 50%;"></div>