<!-- <div class="back1"
  style="background-image: url('../../../assets/images/services-banner.png'); margin: auto; background-size: 100%;">
</div> -->



<!-- This is for banner -->


<div class="container-fluid  d-md-block bg-1">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6 col-6">
        <span class="header-text" >
          
          <h2>
            <span style="color: #ffffff;">Services at </span>
            <span style="color: red;">Link</span>
            <span style="color: #000000;">Code</span>
          </h2>

          <h4 style="color: #ffffff;">
            Corporate Workshops
          </h4>
        </span>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6 col-6">
      </div>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img class="image-cropped" src="../../../assets/services-images/corporate-workshops.svg" alt="">
    </div>
    <div class="col-md-6 column-1">
      <div class="cont">
        <h3 style="text-align: center;">CORPORATE WORKSHOPS</h3>
        <h6 style="text-align: center;">
        Linkcode corporate workshops not only provide technical knowledge ,
          but also, enable participants to understand concepts and acquire newer
          skills, thereby encouraging them to develop intellectually,
          technically and professionally.
          <br />
          These workshops are conducted by industry experts and domain
          consultants.
          <br />
        </h6>
      </div>
    </div>
  </div>
  <br>
  <br>
  <hr>
  <br>
<br>
  <div class="row">
    <div class="col-md-6">
      <img class="image-cropped" src="../../../assets/services-images/valuable-assets.svg" alt="">
    </div>
    <div class="col-md-6 column-1">
      <div class="cont">
        <h3 style="text-align: center;">VALUABLE ASSETS</h3>

        <h6  style="text-align: center;">
          Skilled developers, is the most valuable asset of any IT organization,
          because what drives success in any business is not a well oiled
          machinery, but a well functioning mind.
          <br />
        </h6>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<hr>
<br>
<br>