<!--Services Banner Start-->
<div class="container-fluid  p-0 bg-1">
  <div class="row">
    <div class="col-md-12">
      <div class="component_name1">
        <h2>INTERNSHIPS AT LINKCODE</h2>
        <br />
        <div class="content">
          <h4>
            <p>
              We believe in embracing and encouraging <br />young talent , and
              thus provide numerous internship opportunities to students who are
              pursuing their degrees and are passionate about getting
              professional even before becoming a professional. In the software
              industry an ounce of practice has more worth than a ton of theory.
            </p>
          </h4>
        </div>
      </div>
      <div class="component_name2">
        <h2>Community and protential</h2>
        <br />
        <div class="content">
          <h4>
            <p>
              We at Linkcode believe in benefitting the young software engineers
              by making them a part of our community and giving them a chance to
              work with thier full potential . Linkcode serves as a gateway for
              these young minds to work on the projects involving the upcoming
              technologies eg.Angular , Node , IoT to name a few and thereby
              improving their employment
            </p>
          </h4>
        </div>
      </div>
      <div class="component_name3">
        <img class="image" src="../../assets/images/internship.jpg" alt="" />
        <h2>Professional awareness</h2>
        <br />
        <div class="content">
          <h4>
            <p>
              Giving a professional awareness about the corporate world to our
              interns even before stepping into their dream companies ,
              strengthening the core concepts and building the skill sets with
              booming technologies is our aim.We link the youth to the corporate
              world .
            </p>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Services Banner Ends-->
