<!-- 
<div class="container-fluid  p-0 bg-1">
  <div class="row">
    <div class="col-md-12">
      <div class="component_name1">
        <h2>INTERNSHIPS AT LINKCODE</h2>
        <br />
        <div class="content">
          <h4>
            <p>
              We believe in embracing and encouraging <br />young talent , and
              thus provide numerous internship opportunities to students who are
              pursuing their degrees and are passionate about getting
              professional even before becoming a professional. In the software
              industry an ounce of practice has more worth than a ton of theory.
            </p>
          </h4>
        </div>
      </div>
      <div class="component_name2">
        <h2>Community and protential</h2>
        <br />
        <div class="content">
          <h4>
            <p>
              We at Linkcode believe in benefitting the young software engineers
              by making them a part of our community and giving them a chance to
              work with thier full potential . Linkcode serves as a gateway for
              these young minds to work on the projects involving the upcoming
              technologies eg.Angular , Node , IoT to name a few and thereby
              improving their employment
            </p>
          </h4>
        </div>
      </div>
      <div class="component_name3">
        <img class="image" src="../../assets/images/internship.jpg" alt="" />
        <h2>Professional awareness</h2>
        <br />
        <div class="content">
          <h4>
            <p>
              Giving a professional awareness about the corporate world to our
              interns even before stepping into their dream companies ,
              strengthening the core concepts and building the skill sets with
              booming technologies is our aim.We link the youth to the corporate
              world .
            </p>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>

 -->



 <!-- <div class="back1"
  style="background-image: url('../../../assets/images/services-banner.png'); margin: auto; background-size: 100%;">
</div> -->



<!-- This is for banner -->


<div class="container-fluid  d-md-block bg-1">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6 col-6">
        <span class="header-text" >
          
          <h2>
            <span style="color: #ffffff;">Services at </span>
            <span style="color: red;">Link</span>
            <span style="color: #000000;">Code</span>
          </h2>

          <h4 style="color: #ffffff;">
            INTERNSHIPS</h4>
        </span>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6 col-6">
      </div>
    </div>
  </div>
</div>

<!-- This is end for banner -->
<hr>

<!-- row 1 -->
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img class="image-cropped" src="../../../assets/services-images/internships-at-linkcode.svg" alt="">
    </div>
    <div class="col-md-6 column-1">
      <div class="cont">
        <h3 style="text-align: center;">INTERNSHIPS AT LINKCODE</h3>
        <h6 style="text-align: center;">
          We believe in embracing and encouraging <br />young talent , and
          thus provide numerous internship opportunities to students who are
          pursuing their degrees and are passionate about getting
          professional even before becoming a professional. In the software
          industry an ounce of practice has more worth than a ton of theory.
        </h6>
      </div>
    </div>
  </div>
  <br>
  <br>
  <hr>
  <br>
<br>
<!-- row 2 -->
  <div class="row">
    <div class="col-md-6">
      <img class="image-cropped" src="../../../assets/services-images/community.svg" alt="">
    </div>
    <div class="col-md-6 column-1">
      <div class="cont">
        <h3 style="text-align: center;">COMMUNITY AND POTENTIAL</h3>

        <h6  style="text-align: center;">
          We at Linkcode believe in benefitting the young software engineers
          by making them a part of our community and giving them a chance to
          work with thier full potential . Linkcode serves as a gateway for
          these young minds to work on the projects involving the upcoming
          technologies eg.Angular , Node , IoT to name a few and thereby
          improving their employment
          <br />
        </h6>
      </div>
    </div>
  </div>
  <br>
  <br>
  <hr>
  <br>
<br>
    <!-- row three -->

  <div class="row">
    <div class="col-md-6">
      <img class="image-cropped" src="../../../assets/services-images/professional-awareness.svg" alt="">
    </div>
    <div class="col-md-6 column-1">
      <div class="cont">
        <h3 style="text-align: center;">PROFESSIONAL AWARENESS</h3>

        <h6  style="text-align: center;">
          Giving a professional awareness about the corporate world to our
              interns even before stepping into their dream companies ,
              strengthening the core concepts and building the skill sets with
              booming technologies is our aim.We link the youth to the corporate
              world .
          <br />
        </h6>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<hr>
<br>
<br>