<section>

<br>
<br>
<div class="back1" style="background-image: url('../../assets/images/Intern.jpg'); margin: auto; background-size: cover;">
  <div class="box">
    <br>

    <h2>Internships at Linkcode </h2>
    <p>
      <br>
      Giving a professional awareness about the corporate world to the students even before
    stepping into their dream companies , strengthening the core concepts and building the skill sets with booming technologies
    is our aim.

    </p>
  </div>
  </div>
</section>

