<!-- <div class="d-none d-md-block">
    <div class="banner">
       <img class="banner-effect" src="../../assets/home-images/banner-background-final.png" alt="" style="margin-left: 0;">
       <div class="row">
           <div class="col-12">
            
           </div>
       </div>
    </div>
    
</div> -->


    <div class= "container-fluid  d-md-block bg-1" >
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6 col-6">
                  <span class="header-text">
                      <h2>
                          <span style="color: red;">Link</span>
                          <span style="color: #3F3D56;">Code</span>
                      </h2>
                      
                      <h4>
                          Linking To The Corporate World
                      </h4>
                  </span>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 col-6">                   
                </div>
            </div>
        </div>
     
        
    </div>

<div class="container our-services">
    <h1>
        Our Services
    </h1>
    <div class="row">


        <div class="col-md-4 col-sm-12">
           <div class="content">
               <a href="">
                   <img class="our-services-image" src="../../assets/home-images/sofware-development.svg" alt="">
               </a>
           <h3>
                 Software Development
           </h3> 
           <br>
           <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
           </p>
           </div>
        </div>



        <div class="col-md-4 col-sm-12">
            <div class="content">
                <a href="">
                    <img class="our-services-image" src="../../assets/home-images/project-consultation.svg" alt="">
                </a>
                <h3>    
                     Project Consultation
                </h3>
                <br>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                </p>
            </div>
            
        </div>



        <div class="col-md-4 col-sm-12">
            <div class="content">
                <a href="">
                    <img class="our-services-image" src="../../assets/home-images/corporateitrining.svg" alt="">
                </a>
                <h3>
                    Corporate Training
                </h3>
                <br>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                    </p>
            </div>
        </div>
    </div>
</div>