.container-fluid{
    position: relative;

    width:100%;
    margin: 0;
    padding: 0;
    margin-top:-19px;
    
}
 .col-sm-12{
     margin-top: 40px;
 }
 .content {
    margin: auto;
    height: 550px;
    background-color: #c4c4c4;
    margin-left: 20px;
    margin-right: 20px;
    
}
.content:hover{
    background-color: #ffffff;
    
}

 .content p {
    /* margin: 30px; */
   text-align: center;
   margin-bottom: 30px;
}

.content h3 {
    color: black;
    text-align: center;
}


.btn{
    position: absolute;
    top: 100px;
    left: 30px;
}
.banner-effect{
    
    width: 100%;

}
.banner-img{
    position: absolute;
    top: 100px;
    left: 400px;
    width: 288px;
    height: 304px;
}

.our-services h1 {
        text-align: center;
}
.our-services-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 250px;
}


.bg-1{
    margin-top: 0px;
    position: relative;
    background-position: top;
    background-image: url(../../assets/home-images/banner-background-final4.png); 
    background-position:top,center;
    height: 800px;
    display: block;
    
    margin-left: auto;
    margin-right: auto;
    
    background-repeat: no-repeat;
}
.bg-1 h2,h4{
    
    color: white;
   
}

.header-text{
    color: white;
    position: absolute;
    top: 250px;
    
}
/* flipping card */


.flip-card {
    background-color: transparent;
    width: 200px;
    height: 200px;
    margin: auto;
   
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */

  .flip-card-inner {
    
    display: block;
    margin-left: auto;
    margin-right: auto;

    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    margin: auto;   
    border-radius: 100px;
    text-align: center;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  .flip-card-back h4 {
     
      color: black;
  }

  
  .flip-card-back h5  {
    color: white;
}

  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    /* background-color: #bbb; */
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }
  
  .technology-image{
      width: 200px;
      height: 200px;
      display: block;
    margin-left: auto;
    margin-right: auto;
  }

.column-tech {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.column-tech h4 {
    margin: auto;
    margin-top: 15px;
    color: black;
    text-align: center;
}
