<!-- <div class="d-none d-md-block">
    <div class="banner">
       <img class="banner-effect" src="../../assets/home-images/banner-background-final.png" alt="" style="margin-left: 0;">
       <div class="row">
           <div class="col-12">
            
           </div>
       </div>
    </div>
    
</div> -->


<div class="container-fluid  d-md-block bg-1">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6 col-6">
                <span class="header-text">
                    <h2>
                        <span style="color: red;">Link</span>
                        <span style="color: #3F3D56;">Code</span>
                    </h2>

                    <h4>
                        Linking To The Corporate World
                    </h4>
                </span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 col-6">

            </div>
        </div>
    </div>


</div>

<!-- our services -->

<div class="container our-services">
    <h1>
        Our Services
    </h1>
    <div class="row">


        <div class="col-md-4 col-sm-12">
            <div class="content">
                <a href="">
                    <img class="our-services-image" src="../../assets/home-images/sofware-development.svg" alt="">
                </a>
                <h3>
                    Software Development
                </h3>
                <br>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy
                </p>
            </div>
        </div>



        <div class="col-md-4 col-sm-12">
            <div class="content">
                <a href="">
                    <img class="our-services-image" src="../../assets/home-images/project-consultation.svg" alt="">
                </a>
                <h3>
                    Project Consultation
                </h3>
                <br>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy
                </p>
            </div>

        </div>



        <div class="col-md-4 col-sm-12">
            <div class="content">
                <a href="">
                    <img class="our-services-image" src="../../assets/home-images/corporateitrining.svg" alt="">
                </a>
                <h3>
                    Corporate Training
                </h3>
                <br>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy
                </p>
            </div>
        </div>
    </div>
</div>



<!-- flipping technologies -->
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 200px; margin-bottom:50px ; text-align: center;">
            <h1>
                Technologies at Linkcode
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12 column-tech">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="technology-image" src="../../assets/home-images/technology-web-app-dev.png">
                    </div>
                    <div class="flip-card-back">
                        <br>
                        <br>

                        <h5>HTML</h5>
                        <h5>CSS</h5>
                        <h5>JAVA SCRIPT</h5>
                    </div>
                </div>
            </div>
            <h4>Web App <br> Development</h4>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12 column-tech">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="technology-image" src="../../assets/home-images/technology-mobile-app-dev.png">
                    </div>
                    <div class="flip-card-back">
                        <br>
                        <br>
                        <br>
                      
                    
                        <h5>Android</h5>
                        <h5>iOS</h5>
                    </div>
                </div>
            </div>
            <h4>Mobile  App <br> Development</h4>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12 column-tech">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="technology-image" src="../../assets/home-images/technology-mean.png">
                    </div>
                    <div class="flip-card-back " style="margin: auto;">
                        <br>
                        <br>
                        <h5>MongoDB</h5>
                        <h5>Express</h5>
                        <h5>Angular</h5>
                        <h5>Node</h5>
                    </div>
                </div>
            </div>
            <h4>MEAN Stack</h4>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12 column-tech">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="technology-image" src="../../assets/home-images/technology-clouad-app.png">
                    </div>
                    <div class="flip-card-back" style="text-align: center;">
                        <br>
                        <br>
                        <h5>Cloud Hosting</h5>
                        <h5>Cloud Storage</h5>
                        <h5>Cloud Computing</h5>
                    </div>
                </div>
            </div>
            <h4>Cloud Technologies</h4>
        </div>
        
    </div>
</div>
